job "service-a" {

  region = "global"

  datacenters = [
    "dc1"]


  group "server" {

    task "service-a" {

      driver = "docker"

     config {

        image = "jalbert/service-a:0.1"

//        hostname = "service-a.service.dc1.consul"


        logging {
          type = "json-file"
        }

        tty = true

        dns_servers = [
          "172.17.0.2"]

//        cpu_hard_limit = true

      }

      service {
        name = "service-a"

        port = "port_server"

        tags = [
          "urlprefix-/service-a strip=/service-a"
        ]

        check {
          type = "tcp"
          port = "port_server"
          interval = "2s"
          timeout = "2s"
        }
      }

      resources {
        network {
          mbits = 60
          port "port_server" {}
        }
      }

    }
  }
}