job "files-service" {

  # sudo chown 10001:root dockers-data/npm/storage

  region = "global"

  datacenters = [
    "dc1"]

  type = "service"

  update {
    stagger = "5s"
    max_parallel = 1
  }

  group "server" {

    task "task-files-service" {
      driver = "docker"
      artifact {
        source = "{{ resources_register_host }}/files_service_centosV0.1.tar"
      }

      constraint {
        attribute = "${attr.kernel.name}"
        value = "linux"
      }

      config {

        load = "files_service_centosV0.1.tar"
        image = "files_service:centosV0.1"
        port_map {
          port_server = 80
        }

        tty = true

        logging {
          type = "json-file"
        }

        volumes = [
          "{{ files_service_app_data }}:/app_data"
        ]

      }

      service {
        name = "files-service"
        port = "port_server"
        address_mode = "driver"

        tags = [
          "urlprefix-files_service.com/"
        ]

        check {
          type = "tcp"
          port = "port_server"
          interval = "10s"
          timeout = "2s"
        }

      }

      resources {
        memory = 500
        network {
          mbits = 20
          port "port_server" {
          }
        }
      }

    }
  }
}
