job "krakend-service" {

  # sudo chown 10001:root dockers-data/npm/storage

  region = "global"

  datacenters = [
    "dc1"]

  type = "service"

  update {
    stagger = "5s"
    max_parallel = 1
  }

  group "server" {

    task "krakend-service" {
      driver = "docker"

      constraint {
        attribute = "${attr.kernel.name}"
        value = "linux"
      }

      config {

        dns_servers = ["172.17.0.2"]
        network_mode = "host"

        image = "devopsfaith/krakend"
        port_map {
          port_server = 8000
        }

        tty = true

        logging {
          type = "json-file"
        }

        volumes = [
          "{{ krakend_config_data }}:/etc/krakend"
        ]

      }

      service {
        name = "krakend-service"
        port = "port_server"

        tags = [
          "urlprefix-krakend.com/"
        ]

        check {
          type = "tcp"
          port = "port_server"
          interval = "10s"
          timeout = "2s"
        }

      }

      resources {
        memory = 2048
        cpu    = 1000
        network {
          mbits = 200
          port "port_server" {
          }
        }
      }

    }
  }
}
