
# npm set registry http://npm.service.dc1.consul:4873/

# npm install --registry=https://registry.npmjs.org/ electron -g

# npm set registry https://registry.npmjs.org/



job "npm" {

  # sudo chown 10001:root dockers-data/npm/storage

  region = "global"

  datacenters = [
    "dc1"]

  type = "service"

  update {
    stagger = "5s"
    max_parallel = 1
  }

  group "server" {

    task "task-npm" {
      driver = "docker"
      artifact {
        source = "{{ resources_register_host }}/verdaccio__verdaccio_4.1.x.tar"
      }

      constraint {
        attribute = "${attr.kernel.name}"
        value = "linux"
      }

      config {
        load = "verdaccio__verdaccio_4.1.x.tar"
        image = "verdaccio/verdaccio:4.1.x"
        port_map {
          port_server = 4873
        }

        tty = true

        logging {
          type = "json-file"
        }

        volumes = [
          "{{ verdaccio_storage }}:/verdaccio/storage",
          "{{ verdaccio_conf }}:/verdaccio/conf"
        ]

      }

      service {
        name = "npm"
        port = "port_server"
        address_mode = "driver"

        tags = [
          "urlprefix-npm.com/"
        ]

        check {
          type = "tcp"
          port = "port_server"
          interval = "10s"
          timeout = "2s"
        }

      }

      resources {
        memory = 1000
        network {
          mbits = 20
          port "port_server" {
          }
        }
      }

    }
  }
}
