job "demo" {

  region = "global"

  datacenters = [
    "dc1"]

  type = "service"

  group "server" {

    count = 1

    task "task-demo" {

      driver = "docker"

      env {
        HOST_NAME = "demo.service.dc1.consul"
      }

      config {
        image = "jalbert/phoenix_full:0.1.0-0f98e4"

        port_map {
          port_server = 4000
          port_ssh = 22
        }

        hostname = "demo.service.dc1.consul"

        logging {
          type = "loki"
          config {
            loki-url = "http://loki:loki@loki.service.dc1.consul:3100/loki/api/v1/push"
          }
        }

//        logging {
//          type = "fluentd"
//          config {
//            fluentd-address = "fluentd.service.dc1.consul:24224"
//            tag = "api.logs"
//          }
//        }

        volumes = [
          "{{ dev_env_directory_elixir }}:/home/app/src",
          "{{ dev_env_direnv_alloweds }}:/home/app/.local/share/direnv/allow"
        ]

        tty = true

        dns_servers = [
          "172.17.0.2"]
        //        cpu_hard_limit = true
      }

      service {
        name = "demo"

        port = "port_server"
        //        address_mode = "host" // default

        address_mode = "driver"

        tags = [
          "urlprefix-/demo strip=/demo"
        ]

        check {
          type = "tcp"
          port = "port_server"
          interval = "2s"
          timeout = "2s"
        }
      }

      resources {
        network {
          mbits = 60
          port "port_server" {}
          port "port_ssh" {}
        }
      }

    }
  }
}
