job "fluentd" {

  region = "global"

  datacenters = [
    "dc1"]

  type = "service"

  update {
    stagger = "5s"
    max_parallel = 1
  }

  group "server" {

    task "task-fluentd" {
      driver = "docker"

      env {

      }

      constraint {
        attribute = "${attr.kernel.name}"
        value = "linux"
      }

      config {

        image = "jalbert/fluentd:td-agent_3.6.0"

        port_map {
          port_server = 24224
        }

        tty = true

        dns_servers = [
          "172.17.0.2"]

        /* logging {
           type = "gelf"
           config {
             gelf-address = "udp://localhost:12201"
           }
         }*/

        logging {
          type = "json-file"
        }

        volumes = [
//          https://docs.fluentd.org/configuration/config-file
          "{{ fluentd_etc }}:/etc/td-agent"
        ]

      }

      service {

        port = "port_server"
        address_mode = "driver"
        name = "fluentd"

        tags = [
        ]

        check {
          type = "tcp"
          port = "port_server"
          interval = "10s"
          timeout = "2s"
        }

      }

      resources {
        memory = 1000
        network {
          mbits = 20
          port "port_server" {
          }
        }
      }

    }
  }
}
