job "grafana" {

  region = "global"

  datacenters = [
    "dc1"]

  type = "service"

  update {
    stagger = "5s"
    max_parallel = 1
  }

  group "server" {

    network {
      port "port_server" {
        to = 3000
      }
    }

    task "task-grafana" {
      driver = "docker"

      user = "472"
      config {

        image = "grafana/grafana:7.4.0"
        hostname = "grafana.service.dc1.consul"

        ports = [
          "port_server"]

        tty = true

        dns_servers = [
          "172.17.0.2"]

        volumes = [
          "{{ grafana_data }}:/var/lib/grafana",
          "{{ grafana_provisioning }}:/etc/grafana/provisioning",
          "{{ grafana_config }}:/usr/share/grafana/conf/defaults.ini",
        ]

      }

      service {
        name = "grafana"
        port = "port_server"
        address_mode = "driver"

        check {
          type = "tcp"
          port = "port_server"
          interval = "10s"
          timeout = "2s"
        }

      }

      resources {
        memory = 1000
      }

    }

  }
}
